[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["corepack enable", "pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm turbo build --filter=@maranatha/web"]

[start]
cmd = "cd apps/web && pnpm start"
